<header>
  
  <div class="container">
    <nav>
      <div class="site_logo">
        <a href="{{"/" | relative_url}}">
          {% if page.isPost == true %}
          ../../
          {% else %}
          ./
          {% endif %}
        </a>
      </div>
      <!-- <a href="#" class="hide_on_desktop menu">
        <i class="fas fa-ellipsis-h"></i>
      </a> -->
      <ul>
        <li><a href="{{"/" | relative_url}}">Home</a></li>
        <li><a href="{{"/works" | relative_url}}">Works</a></li>
        <li><a href="{{"/about" | relative_url}}">About</a></li>
      </ul>
    </nav>
  </div>
</header>
