/* On PC */

@media only screen and (min-width: 715px) {
  .content {
    padding: 64px;
  }

  h1 {
    font-size: 64px;
  }

  h3 {
    font-size: 34px;
  }

  .home > p {
    font-size: 22px;
  }
  .pages {
    margin-left: 84px;
    margin-right: 84px;
  }
  .detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .detail_content {
    margin-right: 34px;
    width: 70%;
  }

  .detail_content > .body {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .desktop_feature_image {
    width: 250px;
  }

  .hide_on_desktop {
    display: none;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    text-align: center;
    font-size: 14px;
  }

  .version {
    text-align: center;
    font-size: 14px;
  }

  .social_links {
    font-size: 14px;
  }

  .social_links > a {
    margin-left: 12px;
  }
  .social_links > a:first-child {
    margin-left: 0px;
  }
}

/* On phone */

@media only screen and (max-width: 715px) {
  .hide_on_mobile {
    display: none;
  }

  .home > p {
    font-size: 15px;
  }

  .mobile_feature_image {
    margin-top: 22px;
    margin-bottom: 22px;
    height: 250px;
    width: auto;
  }

  header > * > nav > .menu {
    display: block;
    cursor: pointer;
    padding: 16px;
  }

  header > * > nav > .menu:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 100%;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .footer > p {
    margin-top: 8px;
  }

  .footer > p:first-child {
    margin-top: 0;
  }

  .copyright {
    text-align: center;
    font-size: 12px;
  }

  .version {
    text-align: center;
    font-size: 12px;
  }

  .social_links {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
  }
}
