@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease all;
}

/*
    Universal
*/
p {
  margin: 4px 0px;
  color: #484747;
}
h1 {
  margin: 8px 0px;
  font-size: 38px;
  color: #484747;
}

h2 {
  margin: 8px 0px;
  font-size: 26px;
  color: #484747;
}

h3 {
  margin: 8px 0px;
  color: #484747;
  font-size: 20px;
  letter-spacing: 2px;
}

h4 {
  margin-top: 24px;
  font-size: 18px;
  margin-bottom: 14px;
}

a {
  color: #484747;
  text-decoration: none;
}

a:hover {
  color: #742eff;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1110px;
}

/* Props */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* Header */

header {
  padding-top: 54px;
}

header > * > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > * > nav > .site_logo {
  font-size: 18px;
  font-weight: bold;
}

header > * > nav > ul > li:first-child {
  margin-left: 0;
}

header > * > nav > ul > li {
  display: inline-block;
  margin-left: 28px;
  font-size: 18px;

  font-weight: 600;
}

/* content */

/* Footer */

footer > * > .footer {
  display: flex;
  padding-bottom: 12px;
}

footer > * > .footer > p {
  color: #8a8a8a;
}

footer > * > .footer > .social_links > a {
  color: #8a8a8a;
  font-weight: 600;
}
footer > * > .footer > .social_links > a:hover {
  color: #742eff;
  font-weight: 600;
}

.timestamp {
  color: #8a8a8a;
}

.detail_content > .body > p {
  margin: 8px 0px;
  text-align: justify;
  letter-spacing: 0.6px;
}

.detail_content > .body > p > a {
  color: #742eff;
}
.skills > ul {
  margin: 0;
  padding: 0;
}
.skills > ul > li {
  margin-right: 24px;
  display: inline-block;
}

.academics > ul {
  padding: 0;
}

.academics > ul > li:first-child {
  margin-top: 0px;
}
.academics > ul > li {
  display: flex;
  margin-top: 14px;
}

.academics > ul > li::before {
  content: "$ ";
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
}

.academics > ul > li > div > .level {
  font-size: 18px;
}

.academics > ul > li > div > .institute {
  margin-top: 4px;
  font-size: 14px;
  color: #8a8a8a;
}

.professional-experience > ul {
  padding: 0;
}

.professional-experience > ul > li:first-child {
  margin-top: 0px;
}
.professional-experience > ul > li {
  display: flex;
  margin-top: 14px;
}

.professional-experience > ul > li::before {
  content: "# ";
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
}

.professional-experience > ul > li > div > .level {
  font-size: 18px;
}

.professional-experience > ul > li > div > .company {
  margin-top: 4px;
  font-size: 14px;
  color: #8a8a8a;
}

.body > ul {
  padding: 0;
}
.body > ul > li::before {
  content: "# ";
  margin-right: 8px;
  font-weight: bold;
  font-size: 18px;
}
