---
layout: page
---

<div class="detail">
  <div class="detail_content">
    <h3>{{page.title}}</h3>
    <p class="timestamp">{{ page.date | date: '%A, %B %d, %Y' }}    </p>
    {% if page.feature_image %}
    <img
      src="{{"/assets/images/posts/" | relative_url}}{{page.feature_image}}"
      class="hide_on_desktop mobile_feature_image"
    />
    {% endif %}

    <div class="body">
      {{content}}
    </div>
  </div>
  {% if page.feature_image %}
  <div class="hide_on_mobile feature_image">
    <img
      src="{{"/assets/images/posts/" | relative_url}}{{page.feature_image}}"
      class="desktop_feature_image"
    />
  </div>
  {% endif %}
</div>
